[supervisord]
nodaemon=true

[program:hubot]
directory=/home/{{ user }}/documents/myhubot
command=/home/{{ user }}/documents/myhubot/bin/hubot --adapter slack
environment=HUBOT_SLACK_TOKEN="{{ HUBOT_SLACK_TOKEN }}",HUBOT_SLACK_TEAM="{{ HUBOT_SLACK_TEAM }}",HUBOT_SLACK_BOTNAME="{{ HUBOT_SLACK_BOTNAME }}"
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s.log
autostart=true
autorestart=true

